  {{!-- <section id="gigs" class="container">
    <h1>{{greeting}}, <em>{{user.firstName}}</em>. You have <em>{{todosTodayCount}} {{eventsPlularized}}</em> today.</h1>
        <div class="gig">
            <h3>Estate Planning</h3>
            <p>You are X% through your estate planning</p>
            <ul>
                <li>Budget: $10,000</li>
                <li><a href="#" class="btn btn-reverse">Apply Now</a></li>
            </ul>
            <div class="tech">
                <small>Technologies Needed: <span>react, redux, javascript</span></small>
            </div>
        </div>
        <div class="gig">
            <h3>Something Else</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aspernatur tempora nisi quibusdam doloribus
                adipisci cumque quidem perferendis. Iusto, natus!</p>
            <ul>
                <li>Budget: $10,000</li>
                <li><a href="#" class="btn btn-reverse">Apply Now</a></li>
            </ul>
            <div class="tech">
                <small>Technologies Needed: <span>react, redux, javascript</span></small>
            </div>
        </div>
        {{#each todos}}
            <div class="gig">
            <h3>{{title}}</h3>
            <p>{{description}}<p>
            <ul>
                <li>{{deadline}}</li>
                <li><a href="#" class="btn btn-reverse">Edit</a></li>
                <li><a href="#" class="btn btn-reverse">Mark as completed</a></li>
            </ul>
            <div class="tech">
                <small>People invited: <span>{{#each invitees}}{{this}}, {{/each}}</span></small>
            </div>
        </div>
        {{else}}
            <p>No events created! Add something memorable to do.</p>
        {{/each}}
        <div class="add">
            <a href = "/add" class="fas fa-plus-circle fa-7x"></a>
        </div> --}}
    {{!-- <header class="inner"> --}}
    {{!-- </header> --}}
    <div class="container">
        <h3>{{greeting}}, <em>{{user.firstName}}</em>.</h3>

        <br/>
        <h2>
            <i class="fas fa-calendar-week"></i>
            <b>Planner</b> ({{todosTodayCount}} {{eventsPlularized}})
            {{!-- <div class="add-btn" href = "#"> --}}
                <a href ="/add" class ="btn add-btn">
                     <i class="fa fa-plus" aria-hidden="true"></i>
                    Add
                </a>
            {{!-- </div> --}}
        </h2>
        <div class = "events"> 
            <ul>
                    {{#each todos}}
                    <li>
                        <h1>{{title}}</h1>
                        <p>with {{#each invitees}} {{this}}, {{/each}} @12 PM EST</p> 
                        <div class="colored-box-events">
                        </div>
                    </li>
                    {{else}}
                    <li id="nothing">
                        <h1>You have nothing planned for today!</h1>
                        <p>Click the Add button below to add things to do!</p>
                    </li>
                    {{/each}}
            </ul>
            {{!-- <div class="later-events">
                <h1>You have nothing scheduled for later!</h1>
                <p>Click the Add button below to add things to do</p>
            </div>
            <div class="later-items">
            </div> --}}
        </div>

        <br/>
        <br/>

       <h2>
                <i class="fas fa-heart"></i>
                <b>Suggestions</b>
        </h2>
        <div class="suggestion">
            <h1><b>End-of-Life-Logistics </b> <em>- important things to do for a stress free good-bye</em> </h1>
            <ul>
                <li>
                    <h3>
                        Choose body preferences
                    </h3>
                    <p>
                        Learn about different choices so you can make an informed decision
                    </p>
                    {{!-- make this add button click open up a modal that adds the logistical event --}}
                    <a href='/add' class="fas fa-plus-circle fa-2x"></a> 
                    <div class="colored-box-suggestions">
                    </div>
                </li>
                <li>
                    <h3>
                        Make funeral arrangements
                    </h3>
                    <p>
                        Specify the final celebration of your life, from who to invite to what music to play
                    </p>
                    <a href='/add' class="fas fa-plus-circle fa-2x"></a> 
                    <div class="colored-box-suggestions">
                    </div>
                </li>
                <li>
                    <h3>
                        Save digital identity information
                    </h3>
                    <p>
                        From social media to your email and photos, list your digital identity so it's not lost forever
                    </p>
                    <a href='/add' class="fas fa-plus-circle fa-2x"></a> 
                    <div class="colored-box-suggestions">
                    </div>
                </li>
                <li>
                    <h3>
                        Define power of attorney
                    </h3>
                    <p>
                        From paying bills to managing taxes, a POA manages your money so you don't have to
                    </p>
                    <a href='/add' class="fas fa-plus-circle fa-2x"></a> 
                    <div class="colored-box-suggestions">
                    </div>
                </li>
                <li id="last">
                    <h3>
                        Talk to an end-of-life psychologist
                    </h3>
                    <p>
                        Define anxieties to come to peace mentally and emotionally with the help of a trained professional
                    </p>
                                        <a href='/add' class="fas fa-plus-circle fa-2x"></a> 

                    <div class="colored-box-suggestions">
                    </div>
                </li>
            </ul>
        
        </div>

        <br/>
        <div class="idea">
            <h1><b>Fun Ideas </b> <em>- popular last steps other Elis users are taking</em> </h1>
            <ul>
                <li>
                    <h3>
                        Read grandchildren your favorite childhood book
                    </h3>
                    <p>
                        111 other Eli users have taken this step
                    </p>
                                        <a href='/add' class="fas fa-plus-circle fa-2x"></a> 

                    <div class="colored-box-ideas">
                    </div>
                </li>
                <li id="last">
                    <h3>
                        Try marijuana
                    </h3>
                    <p>
                        42069 other Eli users have tried this step
                    </p>
                                        <a href='/add' class="fas fa-plus-circle fa-2x"></a> 

                    <div class="colored-box-ideas">
                    </div>
                </li>
            </ul>
        
        </div>

        <br/>
        <br/>

        <h2>
            <i class="fas fa-check"></i>
            <b>Completed</b> ({{todosTodayCount}} {{eventsPlularized}})
        </h2>

        <div class="completed">
            <h1><b>Completed Events </b> <em>- look over the events that you have completed</em> </h1>
            <ul>
                <li>
                    <h3>
                        Read grandchildren your favorite childhood book
                    </h3>
                    <p>
                        111 other Eli users have taken this step
                    </p>
                    <div class="colored-box-ideas">
                    </div>
                </li>
                <li id="last">
                    <h3>
                        Try marijuana
                    </h3>
                    <p>
                        42069 other Eli users have tried this step
                    </p>
                    <div class="colored-box-ideas">
                    </div>
                </li>
            </ul>
        
        </div>

        {{!-- <div class="bucket-list-header">
            <h2>
                <i class="fab fa-bitbucket"></i>
                <b>Bucket List</b>
            </h2>
            <button class="btn-add">
                <i class="fas fa-plus"></i>
                <b>Add</b> 
            </button>
        </div>
        <div class="bucket-list">
            
        </div> --}}
    </div>